.slider {
    margin: 0 auto 7rem;
    width: 97%; 
}

.slideritem {
    margin: 1.5rem;
    max-width: 92%;
   height: 22.5rem;
    padding: 3rem 2rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 2rem 0px #cccccc;
    font-size: 1.8rem;
}

.arrowleft,
.arrowright {
    position: absolute;
    top: calc(50% - 1.95rem);
    width: 3.9rem;
    height: 3.9rem;
    cursor: pointer;
}

.arrowleft {
    left: -0.4rem;
}

.arrowright {
    right: -0.6rem;
}

.slidericon {
    margin-bottom: 1.9rem;
    width: 6.4rem;
    img {
        width: 100%;
    }
    
}

@media (max-width: 1100px) {
    .slideritem {
        margin: 1rem;
        max-width: 94%;
        height: 24rem;
    }
}

@media (max-width: 950px) {
    .slideritem {
        max-width: 95%;
    }
}

@media (max-width: 768px) {
    .slideritem {
        max-width: 97%;
    }
}

@media (max-width: 600px) {
    .slideritem {
        max-width: 96%;
    }
}

@media (max-width: 600px) {
    .slideritem {
        margin: 0.8rem;
        max-width: 95%;
        height: 23rem;
        padding: 3rem 1.7rem;
    }
}