

.button {
    display: flex;
    justify-content: center;
	align-items: center;
	border-radius: 0.5rem;
	text-align: center;
}

.title {
	 font-family: "Ferry";
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 1%;
}

