.main {
    padding: 5.1rem 0 5.4rem;
}

.items {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 2.4rem;
}

.item {
    &:first-child {
        padding-top: 1.8rem;
    }

    &:last-child {
        max-width: 48%;
        img {
            width: 100%;
        }
    }
}

.maintitle {
    margin-bottom: 2rem;
    font-size: 6rem;
}

.herotext {
    margin-bottom: 7rem;
    max-width: 52.6rem;
    font-size: 2rem;
}

.herobutton {
    max-width: 33.5rem;
    height: 5.9rem;
    font-size: 2.2rem;
    font-weight: 500;
    background-color: #5970FF;
    color: #ffffff;
    transition: all 0.5s ease;

    &:hover {
        background-color: #3242aa;
    }
}

@media (max-width: 1200px) {
    .maintitle {
        font-size: 4.4rem;
    }
}

@media (max-width: 1024px) {
    .items {
      align-items: center;
    }
    .maintitle {
        font-size: 3.6rem;
    }

    .herotext {
        margin-bottom: 5rem;
        font-size: 1.8rem;
    }
}

@media (max-width: 768px) {
    .main {
        padding: 2rem 0 2.8rem;
    }
    .items {
        flex-direction: column;
        justify-content: center;
    }

    .item {
        &:last-child {
            max-width: 100%;
        }
    }

    .herotext {
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    .item {
          &:first-child {
        padding-top: 0;
    }
    }
    .maintitle {
        font-size: 2.8rem;
    }
}