.result {
  padding: 2.5rem 0 10.9rem;
}

.resultmainblock {
  display: flex;
  justify-content: space-between;
}

.resulttitle {
  margin-top: 4.4rem;
  margin-bottom: 3.6rem;
  max-width: 48rem;
  font-size: 4rem;
  letter-spacing: 5%;
}

.resulttext {
  max-width: 44.7rem;
  font-size: 2rem;
  letter-spacing: 1%;
}

.resultimage {
  max-width: 55.26rem;
  img {
    width: 100%;
  }
}

.loaderblock {
  width: 10rem;
  padding: 2rem 0;
  display: flex !important;
  flex-direction: column;
  align-items: center;
}

.resultloader {
  margin-bottom: 2rem;
  width: 7rem;
  img {
    width: 100%;
    animation: 3s linear 0s normal none infinite running rot;
  }
}

.resultloadertext {
  font-size: 1.6rem;
  animation: 3s linear 0s normal none infinite running text;
}

.resulterror {
  padding: 5rem 0;
  font-size: 3rem;
  color: #ff0000;
}

/*histograms*/

.histograms {
  padding: 0 0 5.3rem;
}

.histogramstitle {
  margin-bottom: 1.7rem;
  font-size: 3rem;
  letter-spacing: 2%;
}

.histogramstext {
  margin-bottom: 2.7rem;
  font-size: 1.8rem;
  letter-spacing: 2%;
  color: #949494;
}

.histogramsblock {
  margin: 0 auto;
  width: 97%;
  position: relative;
  display: flex;
  border: 0.2rem solid #029491;
  border-radius: 1rem;
}

.histogramsslider {
  width: calc(100% - 13.3rem);
}

.histogramsslideritem {
  margin-top: 1.8rem;
  padding: 0 1.7rem 0;
  border-right: 0.2rem solid #949494;
  text-align: center;
  font-size: 1.8rem;
}

.histogramsslideritemceil {
  &:not(:last-child) {
    margin-bottom: 2.9rem;
  }
}

.histogramsheader {
  flex: 0 0 13.3rem;
  position: relative;
  padding: 1.7rem 2.7rem;
  display: flex;
  flex-direction: column;
  gap: 2.6rem;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 2%;
  color: #ffffff;
  background-color: #029491;
  z-index: 2;
}

.arrowright {
  position: absolute;
  top: 0;
  right: -1rem;
  opacity: 0.7;
  transition: all 0.5s ease;
  &:hover {
    opacity: 1;
  }
}

.arrowleft {
  position: absolute;
  top: 0;
  left: -14rem;
  transform: rotateY(180deg);
  opacity: 0.7;
  transition: all 0.5s ease;
  &:hover {
    opacity: 1;
  }
}

.histogramsmobile {
  display: none;
}

/*documents*/

.documents {
  padding: 5.4rem 0 10.9rem;
}

.documentstitle {
  margin-bottom: 5.8rem;
  font-size: 3rem;
}

.documentsitems {
  margin-bottom: 3.8rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3.8rem;
}

.buttonadddocuments {
  margin: 0 auto;
  width: 30.5rem;
  height: 5.9rem;
  border-radius: 0.5rem;
  font-size: 2.2rem;
  font-weight: 500;
  letter-spacing: 4%;
  background-color: #5970FF;
  color: #ffffff;
  transition: all 0.5s ease;

  &:hover {
    background-color: #404faf;
  }
}

@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes text {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.7;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0.7;
  }
}

@media (max-width: 1024px) {
  .resulttitle {
    margin-top: 2rem;
    font-size: 3.2rem;
  }

  .resulttext {
    font-size: 1.8rem;
  }
}

@media (max-width: 768px) {
  .resultmainblock {
    flex-direction: column;
    align-items: center;
    gap: 2.1rem;
  }

  .resulttitle {
    margin-top: 0;
    max-width: 100%;
  }

  .resulttext {
    max-width: 100%;
  }

  .histogramsheader {
    font-size: 1.8rem;
  }

  .histogramsslideritem {
    font-size: 1.6rem;
  }

  .resulterror {
    font-size: 2.6rem;
  }

  .documents {
    padding: 2.4rem 0 5.7rem;
  }

  .documentstitle {
  margin-bottom: 3.4rem;
  font-size: 2.8rem;
}

.documentsitems {
  margin-bottom: 3.6rem;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.buttonadddocuments {
  width: 33.5rem;
  font-size: 2rem;
  letter-spacing: 3%;
}

}

@media (max-width: 480px) {
  .result {
    padding: 2rem 0 5.7rem;
  }

  .resulttitle {
    margin-bottom: 2.1rem;
    max-width: 34rem;
    font-size: 2.8rem;
  }

  .resultimage {
    max-width: 35rem;
  }

  .histogramsblock {
    display: none;
  }

  .histogramsmobile {
    position: relative;
    width: 100%;
    display: block;
  }

  .histogramsmobileslider {
    margin: 0 auto;
    width: 92%;
    border-radius: 1rem;
    box-shadow: 0 0 2rem #cccccc;
  }

  .histogramsmobileitem {
    width: 100%;
    display: flex !important;
    text-align: center;
    border-radius: 1rem;
    overflow: hidden;
  }

  .mobilecolumn {
    max-width: 33.3%;
    flex: 1;
  }

  .mobilecolumbheader {
    padding: 2.3rem 1.5rem;
    background-color: #029491;
    color: #ffffff;
    font-size: 1.8rem;
  }

  .mobilevalue {
    padding: 1.8rem 1rem 2.8rem;
    font-size: 1.8rem;
  }

  .mobilearrowleft {
    position: absolute;
    left: -1rem;
    transform: rotate(180deg);
  }

  .mobilearrowright {
    position: absolute;
    right: -1rem;
  }

  .loaderblock {
    margin: 0 auto;
    width: 15rem;
  }
}
