@font-face {
    font-family: 'Ferry';
    font-weight: 900;
    src: local('ferry'),
    url("./fonts/ferry.otf") format('opentype');
}

body {
    font-family: "Inter", sans-serif;;
}

.wrapper {
    overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.container {
    margin: 0 auto;
    max-width: 135rem;
    padding: 0 1.5rem;
}

